<!DOCTYPE html>
<html lang="mn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Алдаа</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header></header>
    <div class="container error-container">
      <h2>Алдаа гарлаа</h2>
      <p>{{ error }}</p>
    </div>
    <footer>
      <p>Сонгодог Загвар &copy; 2024</p>
    </footer>
  </body>
</html>
