<!DOCTYPE html>
<html lang="mn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Эхлэл - Сонгодог Загварын Хуудас</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Зүрхний Өвчний Урьдчилан Таамаглах Апп</h1>
      </div>
    </header>
    <div class="container">
      <form action="{{ url_for('predict') }}" method="post">
        <table>
          <tr>
            <th>Тест</th>
            <th>Утга</th>
          </tr>
          <tr>
            <td><label for="age">Нас:</label></td>
            <td>
              <input
                type="number"
                id="age"
                name="age"
                required
                min="1"
                max="120"
              />
              <div class="help-text">Насыг жилээр оруулна уу</div>
            </td>
          </tr>
          <tr>
            <td><label for="sex">Хүйс:</label></td>
            <td>
              <input
                type="number"
                id="sex"
                name="sex"
                min="0"
                max="1"
                required
              />
              <div class="help-text">0 = Эмэгтэй, 1 = Эрэгтэй</div>
            </td>
          </tr>
          <tr>
            <td><label for="cp">Цээжний Өвдөлтийн Төрөл:</label></td>
            <td>
              <input type="number" id="cp" name="cp" min="0" max="4" required />
              <div class="help-text">0-4 (жишээ нь, 0 = Ердийн ангина)</div>
            </td>
          </tr>
          <tr>
            <td><label for="trestbps">Амралтын Цусны Даралт:</label></td>
            <td>
              <input
                type="number"
                id="trestbps"
                name="trestbps"
                required
                min="50"
                max="300"
              />
            </td>
          </tr>
          <tr>
            <td><label for="chol">Серум Холестерин:</label></td>
            <td>
              <input
                type="number"
                id="chol"
                name="chol"
                required
                min="100"
                max="600"
              />
              <div class="help-text">Холестерин мг/дл</div>
            </td>
          </tr>
          <tr>
            <td><label for="fbs">Өлөн Цусны Сахар:</label></td>
            <td>
              <input
                type="number"
                id="fbs"
                name="fbs"
                min="0"
                max="1"
                required
              />
              <div class="help-text">0 = Худал, 1 = Үнэн (> 120 мг/дл)</div>
            </td>
          </tr>
          <tr>
            <td><label for="restecg">Амралтын ЭКГ:</label></td>
            <td>
              <input
                type="number"
                id="restecg"
                name="restecg"
                min="0"
                max="2"
                required
              />
              <div class="help-text">жишээ нь, 0 = Хэвийн</div>
            </td>
          </tr>
          <tr>
            <td><label for="thalach">Хамгийн Их Зүрхний Хэмнэл:</label></td>
            <td>
              <input
                type="number"
                id="thalach"
                name="thalach"
                required
                min="50"
                max="250"
              />
            </td>
          </tr>
          <tr>
            <td><label for="exang">Дасгалын Үед Өвдөлт:</label></td>
            <td>
              <input
                type="number"
                id="exang"
                name="exang"
                min="0"
                max="1"
                required
              />
              <div class="help-text">0 = Үгүй, 1 = Тийм</div>
            </td>
          </tr>
          <tr>
            <td><label for="oldpeak">ST Депресс:</label></td>
            <td>
              <input
                type="number"
                id="oldpeak"
                name="oldpeak"
                step="0.1"
                required
                min="0"
                max="10"
              />
            </td>
          </tr>
          <tr>
            <td><label for="slope">Налуу:</label></td>
            <td>
              <input
                type="number"
                id="slope"
                name="slope"
                min="0"
                max="2"
                required
              />
            </td>
          </tr>
          <tr>
            <td><label for="ca">Судасны Тоо:</label></td>
            <td>
              <input type="number" id="ca" name="ca" min="0" max="3" required />
            </td>
          </tr>
          <tr>
            <td><label for="thal">Тал:</label></td>
            <td>
              <input
                type="number"
                id="thal"
                name="thal"
                min="0"
                max="7"
                required
              />
            </td>
          </tr>
        </table>
        <button type="submit">Таамаглах</button>
      </form>
    </div>
    <footer>
      <p>Сонгодог Загвар &copy; 2024</p>
    </footer>
  </body>
</html>
